/* Scion 3 module for scion page */

.scion-3-section {
}

.scion-3 {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  @include mq(medium) {
    display: flex;
  }

  h2 {
    text-align: center;
    flex: 1 0 100%;
  }

  p {
    flex: 1 0 75%;
  }

  img {
    flex: 1 0 25%;
    width: 25%;
    height: 25%;
    filter: invert(1) brightness(2);
  }
}
