/* Scion 2 module for scion page */

.scion-2-section {
}

.scion-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  h2 {
    text-align: right;
    flex: 1 0 100%;
  }

  p {
    flex: 1 0 75%;
  }

  img {
    display: none;
    padding-right: 25px;
    flex: 1 1 25%;
    width: 20%;
    min-width: 15%;
    height: 20%;

    @include mq(medium) {
      display: flex;
    }
  }
}
