/* Config: */

/* Variables: */

/* Colors: */

//I used this website to generate these choices: https://coolors.co/c05746-78cad2-1c3041-eb8258-947bd3
$tropical-indigo: #947bd3;
$colar: #eb8258;
$prussian-blue: #1c3041;
$tiffany-blue: #78cad2;
$jasper: #c05746;
$grey: #808080;
$white: #fff;
$black: #000;
