/* About 2 module for about page */

.about-2-section {
  h2 {
    text-align: center;
  }
}

.about-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  //Tramsfers to a 1 column layout on smaller screens
  @include mq(xx-large) {
    display: flex;
  }

  //Social media icon styling
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    width: 100%;
    list-style-type: none;
    font-size: 2.5rem;
    cursor: pointer;

    @include mq(medium) {
      font-size: 2rem;
      flex-direction: row;
      gap: 10rem;
    }

    //Animation used on social icons
    @keyframes floatSpin {
      0% {
        transform: translateY(0) rotate(0deg);
      }
      75% {
        transform: translateY(-10px) rotate(30deg);
      }
      100% {
        transform: translateY(-10px) rotate(30deg);
      }
    }

    span {
      &:hover {
        color: $tiffany-blue;
      }
    }

    li {
      display: inline;
      font-size: 5rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        animation: floatSpin 2s forwards;
      }
    }
  }

  @include s-e(picture) {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
    img {
      margin: auto;
      border: 3px solid $tiffany-blue;
      border-radius: 50%;
      width: 15rem;
      height: 15rem;
      box-shadow: 0 3px 35px rgba(255, 255, 255, 0.1);
    }

    //Pushes profile picture from the right of the text to on top of it.
    @include mq(xx-large) {
      display: block;
      margin-right: 10rem;
      margin-left: 2.5rem;
      margin-top: 0.5rem;

      img {
        width: 20rem;
        height: 20rem;
        margin: 0;
      }
    }
  }
}
