/* About me module */

.about-1-section {
  h2 {
    text-align: right;
  }
}

.about-1 {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-auto-rows: auto;
  gap: 0px;

  //Tramsfers to a 1 column layout on smaller screens
  @include mq(xx-large) {
    display: grid;
  }

  .item2 {
    grid-column: 2;
    grid-row: 2;

    li {
      margin-bottom: 10px;
    }
  }

  @include s-e(picture) {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    img {
      margin: auto;
      border: 3px solid $tiffany-blue;
      border-radius: 50%;
      width: 15rem;
      height: 15rem;
      box-shadow: 0 3px 35px rgba(255, 255, 255, 0.1);
    }

    //Pushes profile picture from the right of the text to on top of it.
    @include mq(xx-large) {
      display: block;
      margin: auto;
      margin-right: 10rem;
      margin-left: 2.5rem;

      img {
        width: 20rem;
        height: 20rem;
        margin: 0;
      }
    }
  }
}
