/* Base styles: */

* {
  font-family: sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  //Body default has some margin, removing that:
  margin: 0;
  background-color: darken(#1c3041, 5%);
}

h2,
.h2 {
}
