/* Base styles: */

* {
  font-family: sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  //Body default has some margin, removing that:
  margin: 0;
  background-color: darken(#1c3041, 5%);
}

//Headings
h1,
.h2 {
  //Styles for h1 can be found in the header module, as that's the only place it is used
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

//Paragraph and other text styles
p,
li {
  font-size: 1.25rem;
}

p,
span,
label {
  color: darken($white, 15%);
}