/* Container */

.container {
  @extend %center;
  margin-top: auto;
  margin-bottom: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar-margin {
  // margin-left: 0 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  @include mq(medium) {
    margin-left: 21.5rem;
  }
  @include mq(tablet) {
    margin-left: 0rem;
  }
}
