/* Contact form module: */

//Container for handling errors
#error {
  position: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 2rem;

  @include mq(xx-large) {
    position: absolute;
    float: right;
  }

  ul {
    text-decoration: none;
    list-style-type: decimal;
    animation: slideInFromRight 1s forwards;
  }

  li {
    margin-bottom: 20px;
    color: lighten($tiffany-blue, 10%);
    font-size: 1.25rem;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
.contact {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid $tiffany-blue;
  border-radius: 5px;
  background-color: $prussian-blue;
  box-shadow: 0 3px 35px rgba(255, 255, 255, 0.1);

  @include s-e(error) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include s-e(message) {
      background-color: #5d2121;
      border: 1px solid #ff4e4e;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      width: 100%;
      color: $tiffany-blue;
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 20px;
    }
  }

  @include s-e(success) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include s-e(message) {
      background-color: #275424;
      border: 1px solid #7ad360;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      width: 100%;
      color: $tiffany-blue;
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 20px;
    }
  }

  @include s-e(form) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: middle;
    gap: 30px;

    //Field element also contains all the input and label elements and styles
    @include s-e(field) {
      display: block;
      margin-bottom: 20px;
      width: 100%;

      small {
        margin-top: 5px;
        font-size: 10px;
        color: $grey;
      }

      label {
        font-weight: 700;
      }

      input {
        height: 100%;
      }

      textarea {
        height: 80%;
        padding-top: 20px;
        resize: vertical;
      }

      input,
      textarea {
        width: 95%;
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 15px;
        border-radius: 5px;
        background-color: darken($prussian-blue, 5%);
        border: 1px solid lighten($grey, 20%);
        color: $white;

        &:focus-visible {
          border: 1px solid lighten($tropical-indigo, 20%);
          outline: 1px solid lighten($tiffany-blue, 20%);
        }
      }

      input::placeholder,
      textarea::placeholder {
        font-size: 12px;
        color: lighten($grey, 15%);
      }

      input:focus-visible::placeholder,
      textarea:focus-visible::placeholder {
        visibility: hidden;
      }

      textarea::placeholder {
        padding-top: 8%;
      }
    }

    @include s-e(btn) {
      @extend %btn;
    }
  }
}
