/* Container */

.container {
  @extend %center;
  margin-top: auto;
  margin-bottom: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar-margin {
  margin-left: 0 rem;

  @include mq(medium) {
    margin-left: 11rem;
  }
}
