/* Footer Module */

.footer-section {
  //background-color: darken($prussian-blue, 5%);
  margin-bottom: 20px;
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
