/* General section container */

[class$="-section"] {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;

  //Media queries which determine section widths, smaller screeens are given
  //more container width to display content.
  @include mq(small) {
    width: 100%;
  }

  @include mq(medium) {
    width: 90%;
  }

  @include mq(large) {
    width: 80%;
  }

  @include mq(x-large) {
    width: 70%;
  }
}

//Divider is used to divide off sections, though in theory the hr tag may be preferable.
.divider {
  height: 30px;
  border-bottom: 2px solid darken($tiffany-blue, 20%);
  margin-bottom: 20px;
  // border-bottom-right-radius: 5px;
  // margin-right: 10px;
}
