/* Seperate section containers inherit from this module */

.sidebar-section {
  display: none;
  //display: block;
  position: static;
  width: 20%;
  height: 1000px; //Temp value until I can make this thing take the whole page
  border-right: 1px solid red;
  float: left;
  margin: 0;
  margin-right: 10px;
  padding: 0 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    padding: 0;
    list-style-type: none;

    li {
      text-align: center;
    }
  }

  .sidebar__socials {
    display: flex;
    gap: 20px;
  }

  .sidebar__navigation {
    display: flex;
    flex-direction: column;
    gap: 50px;

    li {
      font-weight: 600;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.sidebar__button {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  cursor: pointer;

  span {
    font-size: 48px;
    font-weight: 100;
    //margin-right: 10px;
    padding-right: 5px;
    padding-left: 25px;
    padding-bottom: 15px;
    border: 2px solid lighten($prussian-blue, 0%);
    background-color: lighten($prussian-blue, 5%);
    color: lighten($tiffany-blue, 20%);
    border-bottom-left-radius: 50px;
  }
}
